/* Adicione estilos aqui para o componente Segurado */

/* Estilo para o formulário */
form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilo para as etiquetas dos campos */
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  /* Estilo para os campos de input e select */
  input,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  /* Estilo para o botão */
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilo para a seção que exibe o valor da apólice */
  div {
    margin-top: 20px;
  }
  
  /* Estilo para o texto de valor da apólice */
  p {
    font-size: 18px;
    color: #4caf50;
  }
  